<nav class="navbar navbar-expand-sm bg-light navbar-light shadow-sm">
  <div class="container-fluid">
    <a href="#" class="navbar-brand">Super-hotel.fr</a>
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav">
        <li class="navbar-item">
          <a class="nav-link"> </a>
        </li>
        <!-- <li class="navbar-item">
          <a class="nav-link">{{this.cartService.getCartSize()}}</a>
        </li>
        <li *ngIf="this.authService.isAdmin()" class="navbar-item">
          <a href="#" class="nav-link" routerLink="/training">Ajouter formation</a>
        </li>
        <li *ngIf="this.authService.isAdmin()" class="navbar-item">
          <a href="#" class="nav-link" routerLink="/admin">Administration</a>
        </li> -->
      </ul>
    </div>
    <div class="navbar-nav">
      <label
        class="nav-link"
        for="username"
        *ngIf="this.authService.getUsername()"
        >Bonjour, {{ this.authService.getUsername() }}</label
      >
      <a class="nav-link" routerLink="/login">
        <i
          class="fa-solid fa-arrow-right-from-bracket fa-xl"
          *ngIf="this.authService.isConnected(); else logout"
        ></i>
        <ng-template #logout>
          <i class="fa-solid fa-arrow-right-to-bracket fa-xl"></i>
        </ng-template>
      </a>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>
